@{
    string UserName = string.Empty;
    string Password = string.Empty;
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-action="Login">
    <label asp-for="@UserName">UserName</label>
    <input type="text" asp-for="@UserName">
    <br>
    <label asp-for="@Password">Password</label>
    <input type="password" asp-for="@Password">
    <br>
    <input type="submit" value = 'Login'>
    <input onclick="location.href='@Url.Action("Register", "Identity")'" type="button"  value = 'Create new user'>
</form>