@model IEnumerable<Book>
@{
  ViewData["Title"] = "GetUserItems";
}

<h1 style="color: white;">@ViewData["Title"]</h1>
<div class="card" style="width: 18rem;">
  <ul class="border border-dark-subtle" class="list-group list-group-flush">
    @foreach (var item in @Model)
    {
      <li class="list-group-item">
        <a asp-controller="Books" asp-action="GetById" asp-route-id="@item.Id" id="ItemId-@item.Id">@item.Id</a>
        <div>Name: @item.Name</div>
        <div>Author: @item.Author</div>
        <div>Price: @item.Price</div>
      </li>
    }
  </ul>
</div>