@model SMLibrary.Core.Models.UserCustomUser
@{
    ViewData["Title"] = "User Account";
}

<h1 style="text-align: center;">@ViewData["Title"]</h1>


<div class="container">
    <div class="row justify-content-center">
        <div clas s="col-md-6">
            <div class="card text-center" style="color: white; background-color: @Model.BannerColor; ">
                <div class="card-body">
                    <div class="circular-image">
                        <img src="@Model.ImageUrl" alt="Photo">
                    </div>
                    <h2 class="card-text">Name: @Model.UserName</h2>
                    <p class="card-text">Description: @Model.Description</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row ">
        <div class="col-md-6 d-flex justify-content-between">
            <h2 id="booksHeader" onclick="toggle_Books()" style="cursor: pointer;border-bottom: 7px solid orange;">
                @Model.UserName.ToUpper()'s Books
            </h2>
            <h2 id="commentsHeader" onclick="toggle_Cooments()" style="cursor: pointer;">Comments</h2>
        </div>
    </div>
</div>

<div id="booksSection" class="row row-cols-1 row-cols-md-4 g-4" style="display: block;">
    @foreach (var item in @ViewBag.Books)
    {
        <div class="col">
            <form id="deleteForm-@item.Id" asp-controller="Books" asp-action="Delete">
                <div class="card h-100">
                    <img src="@Url.Content(item.Image)" class="card-img-top" alt="BookCover">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Author: @item.Author</p>
                        <p class="card-text" style="color: gray;">@item.Description</p>
                        <p class="card-text" style="color: blue;">Tag: #@item.tag</p>
                        @if (item.IsFinished == false)
                        {
                            <p class="card-text" style="color:rgb(255, 193, 47)">Ongoing</p>
                        }
                        else
                        {
                            <p class="card-text" style="color: green;">Finished</p>
                        }
                        <a href="@Url.Action("ReadBook", "Books", new { id = item.Id })" class="btn btn-secondary">Read</a>
                        <button asp-controller="User" asp-action="AddBookToUser" asp-route-id="@item.Id"
                            class="btn btn-primary">Add
                            book</button>
                    </div>
                </div>
            </form>
        </div>
    }
</div>
<div>

    <div id="commentsSection" style="display: none;">

        @if (ViewBag.Comments is null)
        {
            <h2>No Comments</h2>
        }

        else
        {
            foreach (var Comment in ViewBag.Comments)
            {
                <div style="border: 1px solid orange;">
                    <p>User: @Comment.Sender</p>
                    <p>Book: @Comment.Book.Name</p>
                    <p>@Comment.Text</p>
                </div>
            }
        }

    </div>
</div>

<style>
    .btn-primary {
        background-color: #219ebc;
        border-color: #219ebc;
        color: #fff;
    }

    .circular-image {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        transform: translate(200%, 0%);
    }
</style>

<script>
    function toggle_Books() {
        var x = document.getElementById("booksSection");
        var hc = document.getElementById("commentsHeader");
        var h = document.getElementById("booksHeader");
        var y = document.getElementById("commentsSection");
        if (x.style.display === "none") {
            x.style.display = "block";
            h.style.borderBottom = "7px solid orange";
            hc.style.borderBottom = "0px solid white";
            y.style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
    function toggle_Cooments() {
        var x = document.getElementById("commentsSection");
        var h = document.getElementById("commentsHeader");
        var hb = document.getElementById("booksHeader");
        var y = document.getElementById("booksSection");
        if (x.style.display === "none") {
            x.style.display = "block";
            h.style.borderBottom = "7px solid orange";
            hb.style.borderBottom = "0px solid white";
            y.style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
</script>